
# WordPress
web/.htaccess
web/wp/*
web/blog/*
web/blog/wp-*/*
!web/blog/app/
web/blog/app/languages/*
web/blog/app/plugins/*
web/blog/app/mu-plugins/*/
web/blog/app/upgrade
web/blog/app/uploads/*
web/blog/app/themes/keni/*
web/blog/app/aiowps_backups/*
web/blog/app/object-cache.php

# Dotenv
.env
.env.*
!.env.example
!.env.docker.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# track empty directory with Git
!.gitkeep

# IDE Settings
/.idea/
/.vscode/*
!/.vscode/launch.json

# Docker Volumes
docker/log/*
docker/mysql/data/*

# settings by os
.DS_Store

# node modules
node_modules

# logs
yarn-error.log
