# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/column
web/.htaccess

# Dotenv
.env
.env.*
!.env.example
!.env.docker.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# IDE Settings
/.idea/
/.vscode/*
!/.vscode/launch.json

# Docker Volumes
docker/log/*
docker/mysql/data/*

# settings by os
.DS_Store
