@charset "UTF-8";

/* Colors */
$color-main: #05a5ab

/* # Header */
.keni-header_wrap
	background-image: none
	border-top: 2px solid $color-main
.site-title
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
	font-weight: normal
	letter-spacing: 1px

/* # Content */

/* ## Posts */
.keni-section
	h1
		background-image: none