@charset "UTF-8";

@font-face {
	font-family: 'keni8-icons';
	src: url('../../fonts/keni8-icons.eot?ds3ffr');
	src: url('../../fonts/keni8-icons.eot?ds3ffr#iefix') format('embedded-opentype'),
		url('../../fonts/keni8-icons.ttf?ds3ffr') format('truetype'),
		url('../../fonts/keni8-icons.woff?ds3ffr') format('woff'),
		url('../../fonts/keni8-icons.svg?ds3ffr#keni8-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* マーカー表示 */
.mce-ico.line-blue{ background: linear-gradient(transparent 50%, #9ddff1 50%); }/*青*/
.mce-ico.line-yellow{ background: linear-gradient(transparent 50%, #fff499 50%); }/*黄*/
.mce-ico.line-orange{ background: linear-gradient(transparent 50%, #f7d999 50%); }/*橙*/
.mce-ico.line-pink{ background: linear-gradient(transparent 50%, #f7c2e1 50%); }/*ピンク*/
.mce-ico.line-lime{ background: linear-gradient(transparent 50%, #aae59e 50%); }/*黄緑*/
.mce-ico.line-gray{ background: linear-gradient(transparent 50%, #d6d6d6 50%); }/*灰*/

.mce-ico.keni-font-size {
	width: 30px;
}

.mce-content-body {
	background-color: #fff;
	margin: 15px;
}

.mce-content-body h1 {
	margin: 40px -40px 30px;
	padding: 30px 40px 0;
	font-size: 2.4rem;
}

/* table */
.keni-admin-table {
	border-collapse:collapse;
}
.keni-admin-table thead th {
	background: #f0f0f0;
}
.keni-admin-table,
.keni-admin-table th,
.keni-admin-table td {
	border: 1px solid #f0f0f0;
	padding: 8px;
}

#keni_slider,
.slider-image,
.slider-image .keni-admin-table {
	width: 100%;
}
.slider-image .keni-admin-table thead th {
	width: 30%;
}.slider-image .keni-admin-table thead th:first-child,
.slider-image .keni-admin-table thead th:last-child {
	width: 5%;
}

.slider-image .keni-admin-table .regular-text {
	width: 100%;
}
.slider-image img {
	width: auto !important;
	max-width: 300px;
}

.keni_meta_description {
	width: 80%;
	height: 5em;
}

.keni_canonical_post {
	width: 80%;
}

.keni_relation_title {
	width: 20%;
}

.keni_relation_url {
	width: 50%;
}

